:root {
  --desktop-nav-height: 100px;
  --transitionSpeed: .25s;
}

html,
#main-container.mobile {
  scroll-behavior: smooth;
}

.desktop.no-scroll{
  overflow: hidden;
}

html {
  height: 100vh;
}

.loading {
  &:before {
    position: absolute;
    content: '';
    background: red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(../images/utils/loader.svg) center no-repeat;
    background-size: 100px;
  }
}

.tiles-holder {
  .loading {
    opacity: 0 !important;
  }
  .loaded {
    opacity: 1;
  }
}

button {
  font-family: 'WebSymbolsLigaRegular';
  background: none;
  padding: 0;
  font-size: 30px;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

body {
  background: #282828; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;

  &.desktop{
    position: relative;

    &.on-homepage {
      top: 0;
      transition: top var(--transitionSpeed) ease-out;
      header {
        position: absolute;      
        top: 100vh;
  
        &.sticky {
          position: fixed;
          top: 0;
        }
      }
    }

    &.to-content {
      top: -100vh;
    }
  }

  section {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    background: #282828;

    &#home {
      padding: 0;

      .hide {
        opacity: 0;
      }

      .logo-link {
        top: calc(50% - 70px);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        z-index: 2;

        &.invisible {
          pointer-events: none;
        }

        h2 {
          font-size: 12px;
          position: absolute;
          top: 60%;
          font-weight: 200;
          transition: all .25s ease-out;
        }
      }


      .animate {
        --full-anim: 60s;
    
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        opacity: 0;
        animation: animate-home-1 var(--full-anim) infinite;
        background-repeat: no-repeat;
    
        @media (orientation:portrait){
          background-size: 200vh;
        }
    
        @media (orientation:landscape){
          background-size: 200vw;
        }
      
        background-repeat: no-repeat;
    
        &.animate-1 {
          animation-delay: 0;
          opacity: 1;
          background-position: 0% 100%;
          // z-index: 4;
        }
    
        &.animate-2 {
          animation-name: animate-home-2;
          animation-delay: calc(var(--full-anim) * .25);  
          background-position: 100% 50%;
          // z-index: 3;
        }
    
        &.animate-3 {
          animation-name: animate-home-3;
          animation-delay: calc(var(--full-anim) * .5);  
          background-position: 75% 50%;
          // z-index: 2;
        }
    
        &.animate-4 {
          animation-name: animate-home-4;
          animation-delay: calc(var(--full-anim) * .75);  
          background-position: 50% 75%;
          // z-index: 1;
        }
      }
    }
  }

  &.desktop {
    #home {
      .animate {

      }

      .logo-link {
        position: fixed;

        img {
          height: 135px;
        }
      }
    }    
  }

  &:not(.on-homepage) {
    header {
      position: static;
    } 
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-link {
  &.visible {
    opacity: 1;
  }
  &.invisible {
    opacity: 0;
  }
}

header {
  nav {

    input[type="checkbox"] {
      display: none;
    }

    a {
      position: relative;

      &:after {
        content: '';
        transition: all var(--transitionSpeed) ease-out;
        position: absolute;
        width: 0;
        height: 1px;
        background: 1px;
        bottom: 0;
        left: 0;
        background: rgba(255,255,255,0);
      }

      &.active,
      &:hover {
        &:after {
          width: 100%;
          background: rgba(255,255,255,1);
        }
      }

      &.logo-link,
      &.logo-link:hover {
        &:after {
          display: none;
        }
      }
    }

    > ul {
      display: flex;
      list-style: none;
      align-items: center;


      > li {
        flex: 1;
        display: flex;
        justify-content: center;

        &.home {
          flex: auto;
        }

        > a:hover,
        > a.active {
          text-decoration: underline;
        }

        // > div {
        //   overflow: hidden;
        //   height: 0;
        //   position: absolute;
        // }
      }
    }
  }

  &.mobile {
    nav {
      position: relative;

      .toggle-menu-btn {
        display: flex;
        width: 40px;
        height: 22px;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        cursor: pointer;
        position: relative;
        opacity: .5;
        
        span {
          display: block;
          height: 3px;
          background: #fff;
          width: 100%;
          position: relative;
          transition: all .25s ease-out;

          &:first-child{
            top: 0;
          }
          &:last-child {
            bottom: 0;
          }
        }
      }

      

      #toggle-menu:checked + .toggle-menu-btn {
        span {
          border-radius: 2px;
        }
        span:first-child {
          transform: rotate(40deg);
          top: 40%;
        }
        span:last-child {
          transform: rotate(-40deg);
          bottom: 40%;
        }
        span:nth-child(2) {
          // background: rgba(255, 255, 255, 0);
          width: 0;
        }
      }

      > ul {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        align-items: flex-start;

        > li {
          overflow: hidden;
          width: 100%;
          justify-content: flex-start;
          flex-direction: column;

          a:hover {
            // text-decoration: underline;
          }

          > a,
          > span {
            transition: all .25s ease-out;
            line-height: 0;
            height: 0;
            color: transparent;

            > a,
            > label {
              line-height: inherit;
              height: inherit;
            }
          }

          div {
            transition: all .25s .5s ease-out, color .25s ease-out, padding .25s ease-out, height .25s ease-out, line-height .25s ease-out;
            line-height: 0;
            color: transparent;

            * {
              transition: inherit;
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 0px 10px;
              padding: 0px 10px;

              li {
                display: inline-block;
                height: 0;
                line-height: 0;
                color: transparent;
                transition: inherit;

                &:after {
                  content: '•';
                  display: inline-block;
                  margin-left: 10px;
                }

                &:last-child:after {
                  display: none;
                }

                a {
                  line-height: inherit;
                  height: inherit;
                  display: inline-block;
                  pointer-events: none;

                  &:hover,
                  &.active {
                    text-decoration: underline;

                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }

          }

          label {
            font-family: 'WebSymbolsLigaRegular';
            width: 1rem;
            height: 1rem;
            display: inline-block;
            text-align: center;
            position: relative;
            
            &:after {
              content: 'Ë';
              display: inline-block;
              font-size: 1.2em;
            }
          }

          

        }
      }

      #toggle-menu:checked ~ ul {
        > li {

          &:last-child {
            padding-bottom: 20px;
          }

          > a,
          > span {
            line-height: 1.4em;
            height: 1.4em;
            color: #fff;
          }

          input {
            &:checked {
              ~ span label {
                &:after {
                  content: 'È';
                }

              }

              ~ div {

                transition: all .25s ease-out;
                line-height: 1.4em;
                color: #fff;

                li {
                  line-height: 1.4em;
                  color: #fff;
                  height: 1.4em;

                  a {
                    pointer-events: auto;
                  }
                }
              }
            }
          }
        }
      }

      .logo-link {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        margin: 10px 10px;
        opacity: .5;

        img {
          height: 100%;
        }
      }

    }
  }

  &.desktop {
    height: var(--desktop-nav-height);
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(40, 40, 40, 0.4);
    background: rgba(40, 40, 40, 1);


    nav {
      height: 100%;

      > ul {
        height: 100%;
        justify-content: space-evenly;
        max-width: 800px;
        margin: auto;

        > li {
          height: 100%;
          align-items: center;
          position: relative;

          a:hover {
            // text-decoration: underline;
          }

          > div {
            top: 100%;
            left: 0;
            position: absolute;
            transition: all .25s ease-out;
            line-height: 0;
            color: transparent;
            overflow: hidden;

            ul {
              // position: absolute;
              display: flex;
              flex-direction: column;
              // transform: translateX(-20px);
            }

            li {
              display: inline-block;
              white-space: nowrap;
              height: 0;
              line-height: 0;
              padding: 0 20px;
              color: transparent;
              transition: all .25s ease-out;              
              background: rgba(40, 40, 40, 0.4);
              background: rgba(40, 40, 40, 1);
            }
          }

          &:hover {
            > div {
              line-height: 1.4em;
              color: #fff;

              li {
                line-height: 1.4em;
                color: #fff;
                height: 1.4em;
                padding: 10px 20px;
              }
            }
          }
        }
  
        .home {
          height: 100%;
          position: relative;
          z-index: 1;
          align-items: flex-start;

          .logo-link {
            overflow: visible;
            height: 100%;
        
            img {
              height: 135px;
              pointer-events: none;
            }
          }

        }
      }
      
    }

  }
}

a {
  text-decoration: none;
  color: inherit;
}

#main-container {
  flex: 1;
  position: relative;

  #media-popin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0);
    transition: all .25s ease-out;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0);
    z-index: 2;

    &.open {
      background: rgba(40, 40, 40, 0.9);
      transform: translate3d(-50%, -50%, 0) scale(1);

      button {
        color: rgba(255, 255, 255, 1);
      }
    }

    .toolbar {
      position: absolute;
      width: 100%;
      top: 0;
    }

    #media-popin-container {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;

      .photos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.zoom {
          img {
            max-width: none;
            max-height: none;
          }
        }

        span {
          display: block;
          text-align: center;
          max-width: 100%;
          // max-width: calc(100% - 20px);
          max-height: 100%;
          // max-height: calc(100% - 20px);
          overflow: auto;
          
          box-sizing: border-box;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        img {
          aspect-ratio: var(--aspect-ratio);
          max-width: 100%;
          max-width: calc(100% - 20px);
          max-height: 100%;
          max-height: calc(100% - 20px);
        }
      }

      iframe {
        width: calc(100% - 20px);
        aspect-ratio: 16 / 9;
      }
    }

    button,
    label, 
    #zoom-buttons {
      font-family: 'WebSymbolsLigaRegular';
      position: fixed;
      margin: 10px;
      color: rgba(255, 255, 255, 0);
      transition: all .25s ease-out;      
    }

    .btn-go {
      top: 50%;
      transform: translate3d(0, -50%, 0);

      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }

    #zoom-buttons {
      top: 0;
      left: 0;
      display: flex;
      align-items: stretch;
      transition: all var(--transitionSpeed) ease-out;
      font-size: 30px;

      input[type="checkbox"]{
        display: none;
      }

      label {
        background: rgba(40, 40, 40, 0.1);
        margin: 0;
        position: static;
        color: #fff;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
      }

      > div {
        background: rgba(40, 40, 40, 0.1);
        transition: all var(--transitionSpeed) ease-out;
        opacity: 0;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        input[type="range"]{
          transition: all var(--transitionSpeed) ease-out;
          --range-width: 200px;
          --range-height: 6px;
          --thumb-size: 10px;
          width: 0;
          height: var(--range-height);
          -webkit-appearance: none;
          background: rgba(40, 40, 40, 0.4);
          box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0);
          outline: none;
          border-radius: 15px;
          overflow: hidden;
          
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: var(--thumb-size);
            height: var(--thumb-size);
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            // border: calc(var(--range-height) / 3.75) solid #333;
            box-shadow: calc(calc(var(--range-width) * -1) - calc(var(--range-height)) / 2) 0 0 var(--range-width) rgba(40, 40, 40, .4);
          }
        }
      }

      &.desktop {
        &:hover {
          div {
            background: rgba(40, 40, 40, 0.3);
            opacity: 1;

            input[type="range"] {
              width: var(--range-width);
              box-shadow: 0 0 0px 1px rgba(255, 255, 255, .2);
            }
          }

          label {
            background: rgba(40, 40, 40, 0.3);
          }
        }
      }
 
      &.mobile {
        input[type="checkbox"]{
          display: none;

          &:checked + div {
            opacity: 1;

            input[type="range"] {
              width: var(--range-width);
              box-shadow: 0 0 0px 1px rgba(255, 255, 255, .2);
            }
          } 
        }
      }
    }

      // input[type="checkbox"]:checked + input[type="range"]{
      //   width: var(--range-width);
      //   box-shadow: 0 0 0px 1px rgba(255, 255, 255, .2);
      // }

      // input[type="range"]{
      //   transition: all var(--transitionSpeed) ease-out;
      //   --range-width: 200px;
      //   --range-height: 6px;
      //   --thumb-size: 10px;
      //   width: 0;
      //   height: var(--range-height);
      //   -webkit-appearance: none;
      //   background: rgba(40, 40, 40, 0.4);
      //   box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0);
      //   outline: none;
      //   border-radius: 15px;
      //   overflow: hidden;
        
      //   &::-webkit-slider-thumb {
      //     -webkit-appearance: none;
      //     width: var(--thumb-size);
      //     height: var(--thumb-size);
      //     border-radius: 50%;
      //     background: #fff;
      //     cursor: pointer;
      //     // border: calc(var(--range-height) / 3.75) solid #333;
      //     box-shadow: calc(calc(var(--range-width) * -1) - calc(var(--range-height)) / 2) 0 0 var(--range-width) rgba(40, 40, 40, .4);
      //   }
      // }



    #close-popin {
      top: 0;
      right: 0;
    }
  }

  .photos-holder {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    // padding: 0 0 10px;

    .photo-tile {
      position: relative;
      box-shadow: 0 0 0 10px #282828;

      &:hover {
        .infos-image {
          // opacity: 1;
          // transition-delay: 2s;
        }
      }

      img {
        display: block;
      }

      button {
        position: sticky;
        top: 0;
        right: 0;
        color: #fff;
      }

      .toolbar {
        top: 0;
      }

      .infos-image {
        bottom: 0;
      }

      .infos-image,
      .toolbar {
        // opacity: 0;
        transition: all .25s ease-out;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin: 10px;

        h2, .copyright {
          // padding: 10px 15px;
          padding: 1em;
          line-height: 1em;
          font-weight: 200;
        }

        h2 {
          background-color: rgba(40, 40, 40, 0.8);
          font-size: 1rem;
          position: sticky;
          left: 10px;
          z-index: 1;
          text-transform: none;
          margin: 0;
        }

        .copyright {
          background-color: rgba(40, 40, 40, 0.4);
          font-size: .6rem;
          font-style: italic;
          position: sticky;
          right: 10px;
        }
      }
    }
  }

  .agenda-holder {
    height: 100%;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: flex-end;

    .agenda-container {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      background: rgba(40,40,40,.4);
      width: 50%;
    }
  }

  &.mobile {
    overflow: auto;

    #home {
      min-height: 100%;
      padding: 0;

      .logo-link {
        position: absolute;
        transition: all .25s ease-out;

        img {
          width: 135px;
          opacity: .8;
        }
      }
    }

    .photos-holder {
      overflow-y: auto;
      flex-direction: column;
      margin: 0 10px;
      padding-bottom: 10px;

      .photo-tile {
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          width: 100%;
        }
      }
    }

    section {
      .tiles-holder {
        .tile {
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: 'WebSymbolsLigaRegular';
            transform: translate3d(-50%, -50%, 0);
            background: none;
            box-shadow: 0 0 0 10px rgba(40, 40, 40, 0.4);
            border: none;
            border-radius: 50%;
            padding: 0;
            font-size: 70px;
            line-height: 1em;
            color: rgba(255, 255, 255, 0.6);
            transition: all .25s ease-out;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  &.desktop {
    #home {
      .logo-link {
        position: fixed;

        img {
          height: 135px;
        }
      }
    }

    section {
      padding-top: var(--desktop-nav-height);
    }



    .photos-holder {
      height: 100%;
      left: 0;
      right: 0;
      margin: 0 10px;
      position: absolute;
      overflow-x: auto;
      padding-bottom: 10px;

      .photo-tile {
        height: 100%;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        img {
          height: 100%;
        }

        h2 {
          // top: 10px;
        }
      }
    }

    section {
      > h2 {
        position: sticky;
        z-index: 1;
        top: var(--desktop-nav-height);
        background: rgba(40, 40, 40, 0.4);
        padding: 0.83em 10px;
        margin: 0;
        margin-top: 1px;
        transition: all var(--transitionSpeed) ease-out;
        min-width: 100%;
        box-sizing: border-box;

        span {
          transition: inherit;
        }

        // &.sticky {
        //   background: rgba(40, 40, 40, 0.2);

        //   span {
        //     font-size: 0.75em;
        //   }
        // }
        &.fade {
          opacity: 0;
          // background: red;
        }
      }

      .tiles-holder {
          .tile.landscape + .portrait + .landscape,
          .tile.portrait:first-child + .landscape,{
            @media screen and (max-width: 900px) {
              max-width: 66%;  
            }
            @media screen and (max-width: 860px) {
              max-width: 50%;  
            }
          }          
        .tile {
          &.portrait {
            max-width: 50%;
          }


          &.landscape {
            flex-grow: 2;
          }

          &.empty {
            flex-grow: 2;
          }

          &.video {
            flex-basis: 48%;
            flex-grow: 1;
            height: auto;
            aspect-ratio: 16 / 9;
            background-position: center;
  
            &.highlight {
              flex-basis: 100%;
            }
            img {
            }
          }

          button {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: 'WebSymbolsLigaRegular';
            transform: translate3d(-50%, -50%, 0);
            box-shadow: 0 0 0 0 rgba(40, 40, 40, 0.4);
            border: none;
            border-radius: 50%;
            background: none;
            padding: 0;
            font-size: 40px;
            line-height: 1em;
            color: rgba(255, 255, 255, 0);
            transition: all .25s ease-out;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }
        }

        &:hover {
          .tile {
            opacity: .75;

            &:hover {
              opacity: 1;

              button {
                box-shadow: 0 0 5px 10px rgba(40, 40, 40, 0.4);
                color: rgba(255, 255, 255, 0.8);

                &:hover {
                  box-shadow: 0 0 0 15px rgba(40, 40, 40, 0.6);
                  background: rgba(40, 40, 40, 0.6);
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }
        } 
      }
    }
  }
  section {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;

    .tiles-holder {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      // justify-content: center;
  
      .tile {
        height: 50vh;
        flex-grow: 1;
        transition: opacity .25s ease-out;
        position: relative;
        background-size: cover;
        background-position: center 30%;
        max-width: 100%;
        overflow: hidden;
        box-shadow: 0 0 0 10px #282828;

        &.highlight {
          order: -1;
          flex-basis: 100%;
          height: 70vh;
        }

        h3 {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0;
          padding: 10px;
          background: rgba(40, 40, 40, 0.4);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &.bg-img {
          img {
            visibility: hidden;
          }
        }

        img {
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
          object-position: center 33%;
        }
      }
    }


  }




}